{{#partial "content"}}
    <div id="page-container">
        <div class="grid-row">
            <div>
                {{#block "column"}}{{/block}}
            </div>
        </div>
    </div>
    <br />
{{/partial}}

{{> template/main}}