{{#partial "content"}}
    <div id="page-container">
        <div class="grid-row">
            <div class="column-two-thirds">
                {{#block "leftColumn"}}{{/block}}
            </div>
            <div class="column-one-third">
                {{#block "rightColumn"}}{{/block}}
            </div>
        </div>
    </div>
    <br />
{{/partial}}

{{> template/main}}