{{#partial "leftColumn"}}
    <h1>Article details</h1>

    <p>
        <strong>Title:</strong>
        {{article.title}}
    </p>
    <p>
        <strong>Text:</strong>
        {{article.text}}
    </p>

    <a href="/">Back to list</a>
{{/partial}}

{{#partial "rightColumn"}}
    <h3>Additional actions</h3>
    <a href="/{{article.id}}/edit">Edit article</a>
{{/partial}}

{{> layouts/twoColumns}}