{{#partial "leftColumn"}}
    <h1>Articles list</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Text</th>
        </tr>
        {{#articles}}
            <tr>
                <td>{{title}}</td>
                <td>{{text}}</td>
                <td><a href="/{{id}}">Show</a></td>
                <td><a href="/{{id}}/edit">Edit</a></td>
            </tr>
        {{/articles}}
    </table>
{{/partial}}

{{#partial "rightColumn"}}
    <h3>Additional actions</h3>
    <a href="/create">New article</a>
{{/partial}}

{{> layouts/twoColumns}}